#learn-content{
	position: relative;
	margin-left: auto;
    margin-right: auto;
	width: auto;
	height:auto; /* tymczasowe - pozniej zmienic na auto*/
}

body > img{
	position: absolute;
	top: 0;
	left: 0;
	min-height: 400px;
	width:100%;
	z-index: -1;
}

#learn-content > .container {
	margin-top: 60px;
}

#learn-content .panel{
	box-shadow: 5px 5px 10px 0px black;
	/*filter: alpha(opacity=60);
	opacity: 0.4;*/
}

#app  .panel-footer {
	padding: 0px;
}

#app .panel-footer > .btn-group {
	width: 100%;
}

#app .panel-footer > .btn-group > .btn{
	width: 50%;
}

#fiszka{
	min-height: 200px;
	margin: 5px;
	box-shadow: 3px 3px 10px 0px black;
	border: 10px solid #eee;
	border-radius: 5px;
}
#fiszka h3{
	margin-left: auto;
	margin-right: auto;
}

#unanswered{
	width: 35%;
	background-color: #67CDDC;
}

#answered{
	width: 20%;
	background-color: #00A9E0;
}

#answered-2-times{
	width: 35%;
	background-color: #98C73D;
}

#answered-3-times{
	width: 10%;
	background-color: #D0DD2B;
}

#unanswered-badge{
	background-color: #67CDDC;
}

#answered-badge{
	background-color: #00A9E0;
}

#answered-2-times-badge{
	background-color: #98C73D;
}

#answered-3-times-badge{
	background-color: #D0DD2B;
}