
#statistics {
	color: #fff;
	font-size: 16px;
	text-shadow: 3px 3px 3px #111;
	
	span {
		text-shadow: 0px 0px 3px #111;
		font-size: 16px;
	}
	
	.panel-footer{
		background-color: inherit;
		padding: 0px;
	}
}

#stats{
	height: auto;
	display: none;
	h4{
		text-align:center;
	}
}

#more {
	width:100%;
	padding: 0px;
	position: relative;
	background: transparent;
}

#learn-content{ 
	position: relative;
	margin-left: auto;
    margin-right: auto;
	width: auto;
	
	> .container {
		margin-top: 20px;
	}

	.panel{
		box-shadow: 5px 5px 10px 0px black;
		background-color: rgba(94,184,232,0.1);
		border-color: rgba(255,255,255,0.3);
	}
}

#app {
	height:auto;
	
	.panel-body{
		padding: 10px;
		
		.panel-body > .btn-group {
			margin-top: 10px;
			width: 100%;
			
			> .btn{
				width: 50%;
			}
		}
	}
}

#fiszka{
	text-align: center;
	margin: 0px;
	min-height: 200px;
	box-shadow: 3px 3px 10px 0px black;
	border: 10px solid #67CDDC;
	border-radius: 5px;
	background-color: #fff;
	
	h3{
		margin-left: auto;
		margin-right: auto;
	}
	#translates{
		font-size: 18px;
	}
}

#alert{
	height: 24px;
	margin: 10px 0px 10px 0px;
	padding: 0px;
	div{
		display: none;
		padding: 0px;
		height: 24px;
		text-align: center;
		margin: 0px;
	}
}

#przyciskiStosy{
	display:none;
	text-align: center;
	margin: 0px 0px 10px 0px;
	color: #fff;
	text-shadow: 3px 3px 3px #111;
	//display: none;
	#btn3{
		border-color: #D0DD2B;
		background-color: #D0DD2B;
	}
	#btn2{
		border-color: #98C73D;
		background-color: #98C73D;
	}
	#btn1{
		border-color: #00A9E0;
		background-color: #00A9E0;
	}
	#btn0{
		border-color: #67CDDC;
		background-color: #67CDDC;
	}
}

#answer-input-group {
	margin: 0px;
		> *{
		font-size: 22px;
		color: black;
	}
}

$unanswered-color: #67CDDC;
$answered-color: #00A9E0;
$answered-2-times: #98C73D;
$answered-3-times: #D0DD2B;

.progress {
	padding:0%;
	> *{		
		margin-right: 0%;
		margin-left: 0%;
	}
}

#unanswered{
	width: 100%;
	background-color: $unanswered-color;
}

#answered{
	width: 0%;
	background-color: $answered-color;
}

#answered-2-times{
	width: 0%;
	background-color: $answered-2-times;
}

#answered-3-times{
	width: 0%;
	background-color: $answered-3-times;
}

#unanswered-badge{
	background-color: $unanswered-color
}

#answered-badge{
	background-color: $answered-color;
}

#answered-2-times-badge{
	background-color: $answered-2-times;
}

#answered-3-times-badge{
	background-color: $answered-3-times;
}